@media (max-width: 1024px) {
    .menu-item {
        margin-left: 30%;
    }
    .menu-items:nth-child(5) {
        margin-right: 15%;
    }
    .subtop-item {
        margin-left: 25px;
    }
    .subtop-items {
        padding-left: 5px;
    }
    .plan__inner {
        flex: 0 1 33.333%;
    }
    .plan-items {
        white-space: nowrap;
        padding: 0 50px;
    }
    .map-image {
        margin: 0;
        width: 97vw;
        height: 539px;
    }
    .map-spons {
        margin: 0;
    }
    .map-spons__img {
        width: 97vw;
        height: 200px;
    }
}

@media (max-width: 769px) {
    .header {
        padding-top: 20px;
        z-index: 1000;
    }
    .header-logo {
        margin-top: 0;
        z-index: 1000;
    }
    .menu-item {
        display: block;
        opacity: 0;
        position: absolute;
        top: -100%;
        right: 0;
        background: rgb(245, 246, 246);
        overflow: auto;
        width: 100%;
        height: 100%;
        width: 100%;
        transition: all 0.4s ease;
    }
    .menu-item.open-menu {
        opacity: 1;
        top: 0;
        transition: all 0.4s ease;
    }
    .menu-items {
        margin: 0;
        margin-bottom: 70px;
        font-size: 40px;
    }
    .menu-items:first-child {
        margin-top: 100px;
    }
    .menu-items:nth-child(5) {
        margin-right: 0;
    }
    .menu-items:nth-child(6) {
        margin-right: 0;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .menu-items:last-child a {
        padding: 5px 25px;
        margin-top: 0;
    }
    .menu-burger {
        position: relative;
        z-index: 1000;
        /* задаем относительное позиционирование */
        width: 40px;
        /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;
    }
    .menu-burger span,
    .menu-burger:after,
    .menu-burger:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    .menu-burger:after,
    .menu-burger:before {
        content: '';
    }
    .menu-burger span {
        top: 16px;
    }
    .menu-burger:after {
        bottom: 5px;
    }
    .menu-burger:before {
        top: 5px;
    }
    .menu-burger.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }
    .menu-burger.open-menu:before {
        transform: rotate(938deg);
        top: 16px;
        transition: 0.2s;
    }
    .menu-burger.open-menu:after {
        transform: rotate(-938deg);
        bottom: 16px;
        transition: 0.2s;
    }
    .header__inner {
        flex-direction: column-reverse;
        text-align: center;
    }
    .top-info__items {
        margin: 0;
        margin-top: 40px;
        margin-left: 0;
        padding: 30px 30px;
    }
    .top-info__items:first-child {
        padding-left: 30px;
    }
    .top-info__items:nth-child(2) {
        padding-left: 0;
        padding-right: 30px;
    }
    .top-info__items:nth-child(3) {
        padding-left: 0;
        padding-right: 60px;
    }
    .subtop {
        margin-bottom: 30px;
    }
    .subtop-info {
        margin-left: 50px;
    }
    .subtop__inner {
        flex-wrap: wrap;
        text-align: center;
    }
    .subtop-img {
        margin: 0 auto 20px auto;
    }
    .subtop-items:before {
        left: 32%;
    }
    .subtop__title {}
    .plan__inner {
        flex-direction: column;
        justify-content: start;
    }
    .plan-border {
        font-size: 20px;
        background-color: #fff;
        padding: 10px 210px;
        margin-bottom: 30px;
        min-height: 650px;
    }
    .plan-border:first-child {
        padding-top: 70px;
    }
    .plan-border:nth-child(2) {
        padding-top: 45px;
    }
    .plan__free {
        margin-bottom: 20px;
    }
    .plan__premium {
        margin-bottom: 20px;
    }
    .plan__standard {
        margin-bottom: 20px;
    }
    .plan-items.free {
        margin-bottom: 20px;
    }
    .plan-items.standard {
        margin-bottom: 20px;
    }
    .plan-items.premium {
        margin-bottom: 20px;
    }
    .plan-item__img {
        padding: 0;
        width: 250px;
        height: 250px;
    }
    .plan__link {
        padding: 15px 33px;
    }
    .map__inner {
        margin-bottom: 40px;
    }
    .map-image {
        height: auto;
    }
    .map-spons__img {
        height: auto;
    }
    .slick-arrow.slick-prev {
        left: 86%;
    }
    .subscribe-info {
        padding: 30px 30px;
    }
    .footer__inner {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    .footer-items {
        margin-bottom: 20px;
    }
}