@media (max-width: 1024px) {
    .menu-item {
        margin-left: 30%;
    }
    .menu-items:nth-child(5) {
        margin-right: 15%;
    }
    .subtop-item {
        margin-left: 25px;
    }
    .subtop-items {
        padding-left: 5px;
    }
    .plan__inner {
        flex: 0 1 33.333%;
    }
    .plan-items {
        white-space: nowrap;
        padding: 0 50px;
    }
    .map-image {
        margin: 0;
        width: 97vw;
        height: 539px;
    }
    .map-spons {
        margin: 0;
    }
    .map-spons__img {
        width: 97vw;
        height: 200px;
    }
}